.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80vw;
    margin: 0 auto;
}
.display {
    width: 100%;
    text-align: end;
    margin: 25px;
    padding: 5px;
    font-family: monospace;
    font-size: 3em;
    border-style: inset;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.btn {
    width: 20%;
    height: 35px;
    border-radius: 15px;
    margin: 5px;
    font-size: 1.2em;
}
.spacer {
    width: 20%;
    height: 35px;
    margin: 5px;
    font-size: 1.2em;
    font-weight: bold;
}
.btn:hover {
    background-color: bisque;
    color: black;
}

.operator {
    background-color: cadetblue;
    color: white;
}

.special {
    background-color: red;
    color: white;
}